body {
    background-color: blueviolet;
    display:flex;
}

.form {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    height:500px;
    width:500px;
    align-items: center;
}

input {
    width:200px;
    margin-top: 20px;
}



#notes {
    margin-left:30px;
    height:300px;    
}
